{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 160,
  "tabWidth": 4,
  "quoteProps": "consistent",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": false
}
