{
    "jsxSingleQuote": false,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 160,
    "quoteProps": "consistent",
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4
}
