@import 'tailwindcss';
/* @plugin 'tailwindcss-breakpoints-inspector'; */

@theme {
    --text-2xs: 0.625rem;
    --text-2xs--line-height: 0.875rem;
    --text-3xs: 0.5rem;
    --text-3xs--line-height: 0.7rem;

    --color-theme-background: var(--color-white);
    --color-theme-background-level-1: var(--color-neutral-200);
    --color-theme-background-level-2: var(--color-neutral-50);
    --color-theme-background-level-3: var(--color-neutral-100);

    --color-theme-text-light: var(--color-white);
    --color-theme-text-dark: var(--color-orange-950);

    --color-theme-accent: var(--color-emerald-700);
    --color-theme-cta-background: var(--color-emerald-300);
    --color-theme-cta-foreground: var(--color-rose-700);

    --color-theme-blocked-range-active-holiday-school: var(--color-red-400);
    --color-theme-blocked-range-inactive-holiday-school: var(--color-red-100);
    --color-theme-blocked-range-active-holiday-public: var(--color-cyan-400);
    --color-theme-blocked-range-inactive-holiday-public: var(--color-cyan-100);

    --transition-duration-theme: 300ms;

    --inset-shadow-nondirectional-sm: inset 0px 0px 2px 0px var(--tw-inset-shadow-color, rgb(0 0 0 / 0.05));
}

:root {
    @apply bg-theme-background h-dvh w-dvw overflow-x-hidden text-sm [--content-width:90%] [--header-height:--spacing(20)] md:[--content-width:80%] xl:[--content-width:70%];
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    @apply text-emerald-800 underline-offset-2 visited:text-emerald-950 hover:text-emerald-600 hover:underline;
}

header a {
    @apply hover:text-theme-cta-background text-neutral-100 visited:text-neutral-100;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

label {
    @apply text-xs;
} 
 

/* Calender icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    @apply text-lg invert;
 
}

.level-1 {
    @apply bg-theme-background-level-1 rounded-sm shadow-sm;
}

.level-2 {
    @apply bg-theme-background-level-2 rounded-md shadow-md;
}

.level-3 {
    @apply bg-theme-background-level-3 rounded-lg shadow-lg;
}
