@import 'tailwindcss';

@theme {
    --text-2xs: 0.625rem;
    --text-2xs--line-height: 0.875rem;
    --text-3xs: 0.5rem;
    --text-3xs--line-height: 0.7rem;

    --color-theme-background: var(--color-white);
    --color-theme-background-level-1: var(--color-neutral-200);
    --color-theme-background-level-2: var(--color-neutral-100);
    --color-theme-background-level-3: var(--color-neutral-50);

    --color-theme-text-light: var(--color-white);
    --color-theme-text-dark: var(--color-sky-900);

    --color-theme-accent: var(--color-orange-400);

    --color-theme-cta-background: var(--color-sky-300);
    --color-theme-cta-foreground: var(--color-amber-700);

    --color-theme-blocked-range-active-holiday-school: var(--color-red-400);
    --color-theme-blocked-range-inactive-holiday-school: var(--color-red-200);
    --color-theme-blocked-range-active-holiday-public: var(--color-cyan-400);
    --color-theme-blocked-range-inactive-holiday-public: var(--color-cyan-100);

    --transition-duration-theme: 300ms;

    --inset-shadow-nondirectional-sm: inset 0px 0px 2px 0px var(--tw-inset-shadow-color, rgb(0 0 0 / 0.05));
}

html {
    @apply duration-theme h-dvh w-dvw overflow-x-hidden bg-linear-to-tr from-(--html-element-gradient-from) to-(--html-element-gradient-to) bg-fixed text-sm transition-[--tw-gradient-from,--tw-gradient-via,--tw-gradient-to] [--content-width:90dvw] [--header-height:--spacing(22)] md:[--content-width:80dvw] xl:[--content-width:70dvw];

    /* Fix headlessui bug: https://github.com/tailwindlabs/headlessui/issues/762  */
    @apply pr-0!;
    /* overflow-y-auto! */
}

body {
    scrollbar-gutter: stable both-edges;
}

a {
    @apply text-emerald-800 underline-offset-2 visited:text-emerald-950 hover:text-emerald-600 hover:underline;
}

header a {
    @apply hover:text-theme-cta-background text-neutral-100 visited:text-neutral-100;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

label {
    @apply text-xs;
}

#root {
    display: contents;
}

/* Calender icon coloring in firefox */
input[type='date'] {
    @apply accent-theme-cta-foreground cursor-pointer;
}

/* Calender icon coloring in chrome, using https://codepen.io/sosuke/pen/Pjoqqp */
input[type='date']::-webkit-calendar-picker-indicator {
    @apply text-lg;
    filter: invert(14%) sepia(61%) saturate(6015%) hue-rotate(337deg) brightness(82%) contrast(94%);
}

.level-1 {
    @apply bg-theme-background-level-1 border-theme-background-level-2/50 rounded-sm border shadow-sm;
}

.level-2 {
    @apply bg-theme-background-level-2 border-theme-background-level-3/50 rounded-md border shadow-md;
}

.level-3 {
    @apply bg-theme-background-level-3 border-theme-background-level-1/50 rounded-lg border shadow-lg;
}
